# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
*.ts~

# Visual Studio Code
.vscode/

# Dependency directories
/dist/
/out/
/build/

# macOS
.DS_Store

# Windows
Thumbs.db

# TypeScript configuration
tsconfig.json
